@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Dancing+Script:wght@600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:wght@200;300;400;500;600;700&family=Sacramento&display=swap');

body{
    font-family: "Raleway", sans-serif;
}
.header{
    background-color: black;
    background: url("../img/header_back.jpg") no-repeat center;
    background-size: cover;
}
.header-2{
    background-color: rgba(0, 0, 0, 0.8)
}

.horizon-break{
    max-width: 500px;
    max-height: 2px;
    background-color: #0f9597;
    margin: 50px auto;
}

/* =============================== NAVBAR ====================================================================================================================== */
.header__nav{
    background-color: #3c4c5d;
    font-family: "Raleway", sans-serif;
    z-index: 5;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
    /* height: 80px; */
    display: flex;
    justify-content: center;
    align-items: center; 
} 

.links__items{
    margin-bottom: 15px;
}
.links__items a + a{
    padding-left: 40px;
}

.links__items a{
    color: #b5bec2;
    font-weight: 500;
}
.links__items a:hover{
    color: #D9C0B6; 
    text-decoration: none;
}

.header__title{
    font-size: 80px;
    /* font-family: "Libre Baskerville", serif; */
    font-family: "Cormorant Garamond", serif;
    /* font-family: "DM Serif Text", serif;; */
    font-weight: 700;
    color: #ffffff;
    padding-top: 125px;
}
.header__text{
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}

.header__btn{
    color: #0f9597;
    background-color: #3c4c5d;
    border:none;
    font-size: 16px;
    font-weight: 600;
}

/* =============================== SECTION 1: SKILLS =================================================================================================================== */
.title__img{
    max-width: 300px;
    max-height: 400px;
}
.title__img img{
    width: 100%;
    height: auto;
}

.skill__icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e5ecf2;
    text-align: center;
    line-height: 50px;
    margin-left: 45%;
}


/* =============================== SECTION 2: WORK EXPERIENCE =================================================================================================================== */
.work-experience, .education, .knowledge__title{
    margin-top: 140px;
}
.work__date{
    color: #0f9597;
}

.h1-style{
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #0f9597;
    max-width: 1100px;
}


/* =============================== SECTION 3: EDUCATION  =================================================================================================================== */


/* =============================== SECTION 4: SKILLS ANG KNOWLEDGE =================================================================================================================== */
.knowledge__item-1 p{
    margin-bottom: 10px;
}

.icon{
    border: 1px solid  #0f9597;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 3.5;
    background-color: transparent;
}
.progress-bar{
    background-color: #0f9597;
}

.fa-quidditch::before,
.fa-palette::before,
.fa-running::before,
.fa-hat-wizard::before,
.fa-itunes-note::before,
.fa-star::before,
.fa-book::before,
.fa-plane::before,
.fa-carrot::before,
.fa-atom::before,
.fa-readme::before{
    font-size: 24px; 
}


/* =============================== SECTION 5: MY WORKS =================================================================================================================== */
.my-works__items{
    justify-content: space-between;
}

.my-works__items .card-body{
    padding-top: 0;
    padding-bottom: 0;
}
.my-works__items .card{
    /* width: 30%; */
    flex: none !important;
    border: 1px solid #0f9597;
    padding: 10px;
}

.carousel{
    color: #0f9597;
}

/* =============================== ANIMATION =================================================================================================================== */
.text{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    animation: text 3s infinite;
    line-height: 130%;
}

.block{
    max-width: 450px;
    height: 50px;
    border: 2px solid;
    background-color: transparent;
    animation: block 3s infinite;
    border-radius: 10px;

    margin-left: 330px;
}

@keyframes text {
    0% {
        font-size: 30px;
        color: #0f9597;

    }
    50% {
        opacity: 0;
        font-size: 16px;
        color: #333333;
    }
    100%{
        font-size: 30px;
        color: #0f9597;
        
    }
} 

@keyframes block {
    0% {
        border: 2px solid hotpink;
    }
    50% {
        border: 2px solid black;
    }
    100%{
        border: 2px solid hotpink;
        
    }
} 



/* =============================== FOOTER =================================================================================================================== */
.footer{
    background-color: #3c4c5d;
    color: #b5bec2;
}

.footer__title hr{
    max-width: 200px;
    max-height: 2px;
    background-color: #0f9597;
}

.footer__sns a + a{
    padding-left: 20px;
}
.footer__sns:hover{
    color: #0f9597; 
}

.fa-phone::before,
.fa-envelope::before,
.fa-whatsapp::before,
.fa-instagram::before,
.fa-twitter::before,
.fa-facebook-f::before,
.fa-paper-plane::before{
    font-size: 30px; 
    color: #b5bec2;
}

.fa-phone:hover,
.fa-envelope:hover,
.fa-whatsapp:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-facebook-f:hover,
.fa-paper-plane:hover{
    color: #0f9597; 
}


/* =============================== BURGER MENU ================================================================================================================ */

#menu__toggle {
    opacity: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    visibility: hidden;
    top: 40px;
    right: 60px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    z-index: 2;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:#3c4c5d;
  }
  
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }
  
  
@media all and (max-width: 750px) {
    .header__nav{
        visibility: hidden;
        overflow: hidden;
        position: fixed; 
        top: 0; 
        width: 100%;
        height: 60px;
    } 
    .navbar{
        display: flex;
        justify-content: space-around;
    }
  
    .links__items{
        display: block !important;
    }
    .menu__btn {
        visibility: visible;
    }
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100;
        width: 300px;
        height: 70%;
        margin: 0;
        padding: 80px 0;
        text-align: center;
        background-color: #334150;
        z-index: 1;
    }
  
    .nav_link {
        display: block;
        padding: 12px 24px;
        font-size: 20px;
        font-weight: 600;
        color: #333333;
    }
  
    .nav_link:hover {
        background-color: #0f9597;
    
    }  
}
/* ---------------  Hamburger menu end ----------- */

/* =============================== MEDIA QUERIES ================================================================================================================ */
@media all and (max-width: 1200px) {

    .block{
        margin-left: 220px;
    }
}  

@media all and (max-width: 950px){
    .my-works__items .card{
        font-size: 12px;
    }
    .block{
        margin-left: 100px;
    }
}

@media all and (max-width: 730px){
    .my-works__items .card{
        font-size: 10px;
    }
    .block{
        margin-left: 45px;
    }
}

@media all and (max-width: 605px){
    .header__title{
        font-size: 50px;
        padding-top: 100px;
    }
    .work__date h4{
        font-size: 18px;
    }
    .work__info h5{
        font-size: 14px;
    }
    .work__info p{
        font-size: 12px;
    }
    .h1-style{
        font-size: 35px;
    }

    .skil__first-name{
        margin: 0 !important;
    }
    .work-experience, .education, .knowledge__title{
        margin-top: 100px;
    }
}

@media all and (max-width: 520px){
    .skills__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title__img{
        margin-bottom: 40px;
    }
    .skill__icon {
        margin-left: 40%;
    }
    .my-works__items{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block{
        display: none;
        /* width: 80%; */
    }
    .my-works__items .card-body{
        padding: 0;
    }
}


@media all and (max-width: 480px) {
    .header__title{
        font-size: 30px;
    }
    .header__text{
        font-size: 18px;
    }
    .work__date h4{
        font-size: 16px;
    }
    .work__info h5{
        font-size: 12px;
    }
    .work__info p{
        font-size: 10px;
    }
    .my-works__items .card-body{
        padding: 0;
    }
}

@media all and (max-width: 400px) {
    .work__info h5{
        font-size: 9px;
    }
    .work__info p{
        font-size: 8px;
    }
    .fa-phone::before,
    .fa-envelope::before,
    .fa-whatsapp::before,
    .fa-instagram::before,
    .fa-twitter::before,
    .fa-facebook-f::before,
    .fa-paper-plane::before{
        font-size: 20px; 
        color: #b5bec2;
    }
    .h1-style {
        font-size: 25px;
    }
    .all-p{
        font-size: 14px;
    }
    .text__item h4 {
        font-size: 20px;
    }
    .text__item p {
        font-size: 15px;
    }
}

@media all and (max-width: 330px){
    .skill__icon {
        margin-left: 33%;
    }
}
